@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Category Name</th>
        <th>Status</th>
        <th>Detail</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model) 
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Status</td>
            <td><a href="#" class="btn btn-warning">Details</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
