<div class="tech-btm">
    
    <p>Have a chance to see all of our new blogs </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Email">
        <input type="submit" value="Subscribe">
    </form>

</div>